.First-section {

    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 160px;
    display: flex;

}


.first {

    margin: 80px 200px 15px 150px;
}



.description {
    display: flex;
    width: 600px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.brief {
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);


}

.title-1 {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;

}

.primary-btn {
    background: #E55473;
    padding: 15px 40px;
    gap: 10px;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;

}

.image-1 {

    width: 635px;
    height: 800px;
    flex-shrink: 0;
}

.image-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 80px 20px 0px 60px;
    margin: 50px 30px 10px 30px;
}

.image-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 80px 20px 0px 60px;
    margin: 50px 30px 10px 30px;
}

.image-4 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 80px 20px 0px 60px;
    margin: 50px 30px 10px 30px;
}

.img-gallery-title {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    margin-left: 200px;

}

.feature-1 {
    color: #272727;
    font-size: 40px;

}


.fline1 {
    text-align: center;
    margin-bottom: 100px;


}

.photo {
    display: flex;
    justify-content: center;
}

.headers1 {

    width: 1922px;
    height: 620px;
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 100px;
}

.wow {
    padding: 120px 150px 100px 300px;

}

.hot-deal {

    color: #272727;

    font-size: 45px;
    font-weight: 800;

}

.span {
    color: #E55473;

}

.btn-2 {

    margin-left: 120px;
}

.red-flower {
    padding: 70px 280px 70px 20px;
    width: 220px;
    height: 300px;

}

.hhh {

    text-align: center;
    margin: 7px 500px 10px 500px;
}

.imgggg {

    margin: 0px 80px 0px 220px;

}

.IE {
    margin: 0px 10px;
    height: 296px;
    width: 242px;
}

.background {
    background-image: url(../bg-img/Rectangle9.png);
    margin: 100px 80px 100px 230px;
    height: 350px;
    max-width: 1040px;

}

.input {

    text-align: center;
    padding: 80px;
}

.mail {
    height: 40px;
    width: 380px;

}

.foot {

    background-color: #272727;
    ;
    text-align: center;
    padding: 100px 300px 120px 300px;


}

.para {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.copyright {

    color: rgba(253, 246, 246, 0.4);


}